/* .container {
} */

.home-container {
  min-height: 90vh;
  margin: 3rem 1rem;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.home-title {
  font-size: 2.2rem;
  font-weight: 800;
  display: grid;
  place-items: center;
}
.home-banner {
  height: 40vh;
  width: 90vw;
}
.color {
  justify-self: start;
  font-size: 2.2rem;
  font-weight: 800;
  color: rgb(11, 11, 171);
}
@media (min-width: 860px) {
  .home-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .home-title {
    font-size: 4rem;
  }
  .color {
    font-size: 4rem;
  }
  .home-banner {
    width: 50vw;
    height: 90vh;
  }
}
